<!DOCTYPE html>


<html>
	<body>

		<div ng-app="myShoppingList" ng-controller="postsController">
		<button ng-click="updateData()">Refresh Data</button>
			<ul>
			        <li ng-repeat="post in posts">
				        <h3>{{post.ticker}}</h3> 
				        {{post.pubDate}} <br> 
				        <a target="_blank" href="{{post.gid}}">{{post.title}}</a><br> 
				        {{post.price}} <br> 
			        	<div tvgraph="{{post.ticker}}" pd="{{post.pubDate}}" id="tv-medium-widget-{{post.ticker}}"></div>
			        </li>
			</ul>
		</div>
	</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="moment-with-locales.min.js"></script>
<script type="text/javascript" src="moment-timezone-with-data.min.js"></script>
<script type="text/javascript" src="storage.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="site.js"></script>
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>

<script>
    var app = angular.module("myShoppingList", []); 


    // Directive
    app.directive('tvgraph', function () {
        return {
            link: function ($scope, element, attrs, ctrl) {
                var watch = $scope.$watch(function () {
                    return element.children().length;
                }, function () {
                    // Wait for templates to render
                    $scope.$evalAsync(function () {
                        // Finally, directives are evaluated
                        // and templates are renderer here
                        var children = element.children();
                        console.log(children);
                        new TradingView.widget({
                            "container_id": "tv-medium-widget-" + attrs.tvgraph,
                            "width": 500,
                            "height": 300,
                            "symbol": attrs.tvgraph,
                            "interval": "1",
                            "timezone": "exchange",
                            "theme": "Light",
                            "style": "3",
                            "locale": "en",
                            "toolbar_bg": "#f1f3f6",
                            "enable_publishing": false,
                            "hide_top_toolbar": true,
                            "save_image": false,
                            "hideideas": true
                        })

                    })
                }
                )
            }
        }
    });


	app.controller("postsController", ['$scope', '$interval', 
		function($scope, $interval) {
            

        $scope.updateData = function () {
	    	console.log("checkingfeed")
	    	updateFeed(function(){



                console.log(stg.get("feeddate"))
		    	if (stg.get("feeddate") == $scope.lastDate) {
	    			console.log("date same, returning")
		    		return;
		    	}
    			console.log("date different loading data")

		    	$scope.lastDate = stg.get("feeddate")
		    	this.posts = stg.getPosts().slice(0,50)
				postsvms = []
				for (var i = 0; i < this.posts.length; i++){
						post = this.posts[i]

						postsvms.push({
								gid : post.guid,
                                pubDate: (new moment(post.pubdate).tz('America/New_York').format("YYYY-MM-DD HH:mm:ss")),
								title : post.title,
								price : post.price,
								ticker : post.ticker
						})
                }
                console.log("Finished fetching from store... loading screen")
                $scope.posts = postsvms	
                $scope.$apply() 
	    	})

		    
	    }
	    $scope.updateData();
	    $interval($scope.updateData, 60*1000)
	}]);






</script>

